
<template>
      <section class="hero is-medium is-bold" id="about">
      
        <div class="hero-body">
    
          <div class="columns">
           <div class="column is-one-third">
             <p class="title">A propos de moi</p>
           </div>
            <div class="column">
              <div>Je suis développeur senior JavaEE, Javascript full stack, 12 ans d'expériences 
            et également passionné d'arts martiaux, 2e dan de vietvodao</div>
            </div>
          </div>
        </div>
        
    </section>
</template>

<script>
export default {
  name: 'about'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.middleSizeFont { font-size: 2em}
</style>
