<template>
     <section class="is-fullheight is-bold" id="certification">

 <div class="">
    
          <div class="columns">
           
           <div class="column is-one-third">
              <p class="title">Certifications</p>
            </div>
            <div class="column ">

               
                

               <div class="tile is-ancestor">
  <div class="tile is-4 is-vertical is-parent">

    <div class="tile smallmargin">
                    <div class="tile">
                      Scrum Master
                    </div>  
                    <div class="tile is-flex is-horizontal-center">
                        <figure class="image is-64x64">
                      <a href="https://www.scrum.org/user/186962" target="blank">
                        <img src="../assets/scrumorg.png">
                      </a>
                    </figure>
                  </div>  
                    </div>

        <div class="tile is-child">
    <div data-iframe-width="400" data-iframe-height="270" data-share-badge-id="5ea899d9-a269-4bb3-9c11-2d46b11e8632"></div>
        </div>
    <div class="tile is-child">
      <div data-iframe-width="400" data-iframe-height="270" data-share-badge-id="6f36b033-ed30-4f8d-be92-bb9a6bbe1e54"></div>
    </div>
      <div class="tile is-child">
    <div data-iframe-width="400" data-iframe-height="270" data-share-badge-id="6a56a91a-dc43-4c32-bd9e-98c3c7e03a97"></div>

  </div>

  </div> 
               </div>
            </div>
          </div>
        </div>
      
    </section>
</template>

<script>
export default {
    name:'certification'
}

 var s = document.createElement('script');
      s.type = 'text/javascript';
      s.async = true;
      s.src = '//cdn.youracclaim.com/assets/utilities/embed.js';
      var o = document.getElementsByTagName('script')[0];
      o.parentNode.insertBefore(s, o);
</script>
<style scoped>

.bigpadding {padding: 10rem 1.5rem}
.smallmargin {margin: 5rem 1.5rem}

</style>

