<template>
    <section class=" is-fullheight is-bold" id="skills">
     
         <div class="hero-body bigpadding">
    
     <div class="columns">
           
            <div class="column is-one-third">

                <p class="title">Mes compétences</P>
            </div>
            <div class="column is-full">

              <div class="tile is-ancestor">
  <div class="tile is-4 is-vertical is-parent">
    <div class="tile is-child box">
      <p class="has-text-weight-bold">Langages</p>
      
          <p>Java 8</p>
          <p>ES6</p>
          <p>SQL</p>
          <p>PL/SQL</p>
          <p>Unix</p>
          <p>Shell</p>
     
    </div>
    <div class="tile is-child box">
      <p class="has-text-weight-bold">Frameworks</p>
      <p>Spring 4 (Core, MVC, Batch)</p>
      <p>Hibernate</p>
      <p>IBatis</p>
      <p>EmberJs (3.3)</p>
      <p>AngularJs</p>
    </div>
  </div>
  <div class="tile is-4 is-vertical is-parent">
    <div class="tile is-child box">
      <p class="has-text-weight-bold">Outils développements</p>
      <p>Git</p>
      <p>Liquibase</p>
      <p>Maven</p>
      <p>Intellij</p>
      <p>Jenkins 2</p>
      <p>Gitlab, Bitbucket</p>

    </div>
    <div class="tile is-child box">
         <p class="has-text-weight-bold">Base de données</p>
         <p>Oracle</p>
         <p>PostgreSQL</p>
         <p>MySql</p>
    </div>
  </div>
</div>

            </div>
          </div>
  </div>
       
     
    </section>
    
    </template>

<script>
export default {
    name:'competence'
}
</script>
<style scoped>
 
 .middleSizeFont { font-size: 2em}

 .bigpadding {padding: 10rem 1.5rem}
 
</style>

