<template>
     <section class="is-fullheight is-bold" id="experiences">
      

<div class="columns">

<div class="column is-one-third">
<p class="title">Expériences Professionnelles</p>
</div>
<div class="column is-two-third">

<section>
  <div class="hero-body">
   <div class="container">
  <div class="timeline ">
  <header class="timeline-header">
    <span class="tag is-medium is-primary">2019</span>
  </header>
  
  
 
  <div class="timeline-item is-primary">
    <div class="timeline-marker is-image is-128x128">
      <img src="../assets/logo_total-spring.png">
    </div>
    <div class="timeline-content">
      
     
     

              

  <div class="tile is-6 is-vertical is-parent">
    <div class="tile is-child box">
     
     <p class="has-text-weight-bold">TOTAL Direct Energie, Paris 75015</p>
      <p class="heading">Décembre 2016 À AUJOURD'HUI</p>
      <p class="heading">Projet HELIOS: Application de gestion des flux Enedis, équipe de 6 personnes</p>

          <p>Conceptions, maintenances et évolutions sur le front-end et le back-end (IHM, webservices REST et Batch d’intégrations de flux xml</p>
          <p>Support niveau 3 (production)</p>
          <p>Parallélisation des batchs Spring</p>
          <p>Automatisation des livraisons (war+jar) avec les jobs Jenkins</p>
          <p>Refonte Front-end Emberjs (2.4 -> 3.3)</p>
          <p>Mise en place workflow Git, Upgrade Gitlab</p>
          <p>Code Review</p>
    
    <p class="has-text-weight-bold">Environnement Technique</p>

          <p>Java 8, ES6, SQL, PL/SQL,unix, shell, html, css</p>
          <p>Spring 4 (CORE, MVC, BATCH), Spring Boot, MyBatis, Ember.js, Node.js, Junit, Mockito.</p>
          <p>Git, Maven, Liquibase, Bower, Grunt,Jenkins,Gitlab, BitBucket Tomcat, Intellij</p>
          <p>Oracle</p>
    </div>
    
  </div>
      <div>
      </div>
    </div>
  </div>
  
  
   <header class="timeline-header">
    <span class="tag is-medium is-primary">2016</span>
  </header>
  <div class="timeline-item is-primary">
    <div class="timeline-marker is-icon">
      <i class="fa fa-flag"></i>
    </div>
    <div class="timeline-content">

    <div class="tile is-6 is-vertical is-parent">
    <div class="tile is-child box">

      <p class="heading">CANAL+, Issy-les-moulineaux</p>
      <p>Octobre 2014 À Novembre 2016</p>
      <p class="heading">Projet KISS: Application de gestion des abonnés pour les téléconseillers, Feature Team Finance/comptabilité (équipe de 6 personnes)</p>
      

          <p>Organisation des cérémonies SCRUM</p>
<p>Conception, maintenance et évolution de modules front-end (AngularJs) et back-end (Spring 3, Hibernate)</p>
<p>Créations et consommations de webservices Rest</p>
<p>Optimisation et parallélisation de batchs(Spring Batchs)</p>
<p>Mise en place des Hook Git</p>
<p>Mise en place de projets Batch avec Spring Batch</p>
<p>Release des livrables war + batch java</p>
<p>Code Review</p>


    

      <p class="has-text-weight-bold">Environnement Technique</p>

          <p>Java 8, ES6, SQL, PL/SQL,unix, shell, html, css</p>
          <p>Spring 4 (CORE, MVC, BATCH), Spring Boot, MyBatis, Ember.js, Node.js, Junit, Mockito.</p>
          <p>Git, Maven, Liquibase, Bower, Grunt,Jenkins,Gitlab, BitBucket Tomcat, Intellij</p>
          <p>Oracle</p>
    
</div>
</div>

    </div>
    
  </div>
  <header class="timeline-header">
    <span class="tag is-medium is-primary">2014</span>
  </header>
</div>
</div>
  </div>
</section>



</div>


</div>
      
    </section>
</template>

<script>
export default {
    name:'experience'
}
</script>
<style scoped>

</style>

