<template>
     <section class="has-background-info" id="hobbies">

   <div class="middlemargin">
    
          <div class="columns">
            <div class="column is-one-quarter">
              <p class="title is-info">
                        Contact
              </p> 
            </div>
            <div class="column">
              <p class="container is-size-5 is-info">
                <font-awesome-icon icon="envelope" />
                  alexandre.boungnarith@gmail.com</p>
            </div>
          </div>
        </div>
      
    </section>
</template>

<script>
export default {
    name:'loisir'
}
</script>
<style scoped>
.middlemargin {margin: 3rem 1.5rem}
</style>

