<template>
  <div class="main">
    
    <topPage/>
    
    
    <competence/>
    
    <experience/>
    
    <certification/>
    <loisir/>
  </div>
  
</template>

<script>

import TopPage from '../components/topPage.vue'
import About from '../components/about.vue'
import Competence from '../components/competence.vue'
import Experience from '../components/experience.vue'
import Certification from '../components/certification.vue'
import Loisir from '../components/loisir.vue'

export default {
  name: 'MainPage',
   components: {
    TopPage,
    About,
    Competence,
    Experience,
    Certification,
    Loisir
  },
  props: {
    msg: String
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

</style>
