
<template>
       <section class=" is-fullheight middlemargin-bottom is-bold " id="about">
      
        <div class="">
    
          <div class="columns is-vcentered">
            <div class="column">
            
            <div class="is-flex bigmargin-top is-horizontal-center column">
             <figure class="image is-128x128">
              <img class="is-rounded" src="../assets/cropprofile.jpg">
            </figure>
            </div>
              <div class="has-text-weight-normal column">
                <h1 class="is-size-4-mobile is-size-3-desktop">Bonjour, Je m'appelle Alexandre</h1>
                <p class="is-size-6-mobile is-size-4-desktop is-primary smallmargin-bottom">Je suis développeur senior Java/JavaEE full stack, 12 ans d'expériences 
            et également passionné d'arts martiaux, 2e dan de vietvodao</p>
            <a class="button has-text-weight-semibold is-primary" href="../cv.pdf" target="blank">Télécharger mon CV</a>
              </div>
<div class="columns smallpadding is-mobile">
<div class="column"><a target="blank" href="https://github.com/sirijiji"><font-awesome-icon :icon="['fab', 'github']" size="3x"/></a></div>
<div class="column"><a target="blank" href="https://gitlab.com/sirijo/vueblog"><font-awesome-icon :icon="['fab', 'gitlab']" size="3x"/></a></div>
<div class="column"><a target="blank" href="https://www.linkedin.com/in/alexandre-sirisak-boungnarith/"><font-awesome-icon :icon="['fab', 'linkedin-in']" size="3x"/></a></div>
</div>



  
            
            </div>
            </div>
            
          </div>
          
        
        
    </section>

</template>

<script>


export default {
  name: 'topPage',
  
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.middleSizeFont { font-size: 2em}
.smallpadding {padding: 2rem 1.5rem}
.smallmargin {margin: 2rem 1.5rem}
.smallmargin-bottom {margin-bottom: 2rem}
.middlemargin {margin: 5rem 1.5rem}
.middlemargin-bottom {margin-bottom: 5rem}
.bigmargin {margin: 6rem 1rem}
.bigmargin-top {margin-top: 7rem}
.is-horizontal-center {
  justify-content: center;
}
</style>
