<template>
  <div id="app">
   
     <!-- <img alt="Vue logo" src="./assets/logo.png"> -->
     <div>
     
 <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      
    </a>

    <a role="button" class="navbar-burger burger" :class="{ 'is-active': isActive }" aria-label="menu" aria-expanded="true" 
    data-target="navbarBasic" @click="activeMobileMenu()">
      <span aria-hidden="false"></span>
      <span aria-hidden="false"></span>
      <span aria-hidden="false"></span>
       <span aria-hidden="false"></span>
    </a>
  </div>

  <div id="navbarBasic" class="navbar-menu buttons smallmargin" :class="{ 'is-active': isActive }">
    <div class="navbar-start " >
       <a class="navbar-item button is-primary is-rounded " href="#home" @click="activeMobileMenu()">
        <font-awesome-icon icon="home" />
      </a>
      <a class="navbar-item has-text-weight-semibold" href="#about" @click="activeMobileMenu()">
        A propos de moi
      </a>
<a class="navbar-item has-text-weight-semibold" href="#skills" @click="activeMobileMenu()">
        Compétences
      </a>
      <a class="navbar-item has-text-weight-semibold" href="#experiences" @click="activeMobileMenu()">
        Expériences Pro
      </a>
       <a class="navbar-item has-text-weight-semibold" href="#certification" @click="activeMobileMenu()">
        Certifications
      </a>

       <a class="navbar-item has-text-weight-semibold" href="#hobbies" @click="activeMobileMenu()">
        Contact
      </a>
    </div>

    
  </div>

  
</nav>


    <main-page msg="test"/>
     </div>
    
  
    <footer class="footer-sirisak">
  <div class="content has-text-centered">
    <p>
      <strong>Made by sirisak <font-awesome-icon icon="copyright" />2019</strong> 
    </p>
  </div>
</footer>
  </div>

  
</template>

<script>

import MainPage from './components/MainPage.vue'

export default {
  name: 'app',
  data: function () {
    return {
      isActive: false
    }
  },
  components: {
    MainPage
  },
  methods:{
    activeMobileMenu: function(){
      this.isActive = !this.isActive;
      return this.isActive;
    }
  }
}
</script>

<style>

html, body {
  height: 100%;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 0px;
   display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
  /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  padding: 20px;
}

.footer-sirisak {
  
  color: blanchedalmond;
}
.smallmargin {padding: 1rem 2rem}
.border-bottom {border-bottom: 1px; border-bottom-style: solid; border-bottom-color: #4a4a4a}

</style>
